<!DOCTYPE html>
<html>
<head>
    <title>Simple Firebase Form</title>
</head>
<body>
    <h1>Enter Data</h1>
    <form method="post">
        {% for field, label in form_fields.items() %}
            <label for="{{ field }}">{{ label }}:</label>
            {% if field == 'tag' %}
                <select name="{{ field }}">
                    {% for option in tag_options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text" name="{{ field }}" required><br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
