<!DOCTYPE html>
<html>
<head>
    <title>Mechonyx Database</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    
    <form method="post">
        <h1>Enter Data</h1>
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" required><br>

        <label for="email">Email:</label>
        <input type="text" name="email"><br>

        <label for="tags">Tag:</label>
        <label><input type="checkbox" name="tags" value="Client"> Client</label>
        <label><input type="checkbox" name="tags" value="Education Program"> Education Program</label>
        <label><input type="checkbox" name="tags" value="Investor"> Investor</label><br>

        <label for="comments">Comments:</label>
        <input type="text" name="comments"><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
